@font-face {
    font-family: 'Poppins-Bold';
    src: url('../css/fonts/Poppins-Bold.woff2') format('woff2'),
        url('../css/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../css/fonts/Poppins-Regular.woff2') format('woff2'),
        url('../css/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('../css/fonts/Poppins-Thin.woff2') format('woff2'),
        url('../css/fonts/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

